<div class="card-body">
  <a href="dashboard/edit/{{id}}">
    <div class="card-header flex-row justify-space-between">
      <div class="col-10">{{CommentText}}</div>
      <div class="col-2">{{format_date dateCreated}}</div>
    </div>  
  </a>

</div>