<div class="row">
  <div class="col-auto">
    {{!-- this can not be displayed somehow --}}
  <h2>{{user.username}}</h2>
  </div>
</div>
<br>


 {{#if comments.length}}
<div class="comments">
  {{#each comments as |comment|}}
  <div class="eachreview">
    <p class="card-body2">
   <h5>Groomer Name :{{groomer.name}} </h5>
    <h5>Review :   {{commentText}} </h5>
    <h5> Date  :  {{format_date dateCreated}}</h5>
   </p>
</div>

 {{/each}}
</div>
{{/if}}


