
<section class="flex-row justify-center"></section>
  {{#each groomers as |Groomer|}}
  <a href="/groomer/{{id}}">
  <div class="cards-list">
    <div class=" card">
      <div class="card_image" >
       
        <h2>{{name}}</h2>
        <img src="/assets/{{profilePicture}}""> 
       
      </div>
      
    </div>

    </div>
    </a>
  {{/each}}
</section>



