<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../Public/css/styles.css">
  <title>BarkBook.</title>
</head>
<body>
  <nav>
    <header class="homeBtn">BarkBook.</header>
    <div class="logoutBtn">Log Out</div>
  </nav>
  <div class="cards-list">
    <div class=" card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile1.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>

    <div class=" card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile2.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>

    <div class=" card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile3.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>

    <div class=" card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile4.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>

    <div class=" card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile6.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>

    <div class=" card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile5.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>

    <div class=" card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile11.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>

    <div class=" card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile7.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>

    <div class=" card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile8.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>

    <div class="card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile14.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>
    <div class="card">
      <div class="card_image">
        <h2>Groomer One</h2>
        <img src="../Public/assets/profile12.png"/> 
      </div>
      <div class="card_title">
        <p>Lorem</p>
      </div>
    </div>
  </div>
</body>
</html>