<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Public/css/styles.css">
  <title>BarkBook | Login</title>
</head>
<body class="gradient2">
  <header>BarkBook.</header>
    <h4>The go-to app to find dog-approved groomers</h4>
  <section class="main">

    <form class="login-form">
      <h4>Log In</h4>
      <div>
        <input type="email" name="logemail" placeholder="Email" id="logemail" autocomplete="off">
      </div>	
      <div>
        <input type="password" name="logpass" placeholder="Password" id="logpass" autocomplete="off">
        <i class="input-icon uil uil-lock-alt"></i>
      </div>
      <a href="#" class="submitBtn">submit</a>
    </form>

    <form class="signup-form">
      <h4>Sign Up</h4>
      <div>
        <input type="text" name="logname" placeholder="Full Name" id="logname" autocomplete="off">
      </div>
      <div>
        <input type="email" name="logemail" placeholder="Email" id="logemail" autocomplete="off">
      </div>	
      <div>
        <input type="password" name="logpass" placeholder="Password" id="logpass" autocomplete="off">
        <i class="input-icon uil uil-lock-alt"></i>
      </div>
      <a href="#" class="submitBtn">submit</a>
    </form>
  </section>