

  <header class="parent">BarkBook.
    <img class="logoDog" src="./assets/corgiWave.gif" alt="logo">

  </header>
  <h4 class="subtitle">The go-to app to find dog-approved groomers.</h4>
  <section class="main">
    <form class="login-form">
      <h4>Log In</h4>
      <div>
        <input type="email" name="logemail" placeholder="Email" id="logemail" autocomplete="off">
      </div>	
      <div>
        <input type="password" name="logpass" placeholder="Password" id="logpass" autocomplete="off">
        <i class="input-icon uil uil-lock-alt"></i>
      </div>

        <button class="btn btn-primary" type="submit">login</button>

    </form>
    <div id="or">OR</div>
    <form class="signup-form">
      <h4>Sign Up</h4>
      <div>

        <input type="text" name="signUpName" placeholder="Full Name" id="signUpName" autocomplete="off">
      </div>
      <div>
        <input type="email" name="signUpEmail" placeholder="Email" id="signUpEmail" autocomplete="off">
      </div>	
      <div>
        <input type="password" name="signUpPassword" placeholder="Password" id="signUpPassword" autocomplete="off">
        <i class="input-icon uil uil-lock-alt"></i>
      </div>
     <button class="btn btn-primary" type="submit">signup</button>
    </form>
  </section>

  <script src="./js/login.js"></script>

