<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Public/css/styles.css">
  <title>BarkBook | Profile</title>
</head>
<body class="gradient2">
  <nav>
    <button class="homeBtn">BarkBook.</button>
    <button class="logoutBtn">Log Out</button>
  </nav>
  <Section class="commentSection">
    <div class="cards-list">
      <div class=" card">
        <div class="card_image">
          <h2>Groomer One</h2>
          <img src="../Public/assets/profile1.png"/> 
        </div>
        <h5>
          Address: <span>Placeholder St</span><br>
          Phone: <span>987-654-3210</span><br>
          Motto: <span>"Grooming is my passion, dogs are my inspiration!"</span>
        </h5>
      </div>
      </div>
    </div>

    <ul class="comments">
      <li>
       "Lorem ipsum dolor sit amet consectetur adipisicing elit.Quod labore, reprehenderit nihil quo ullam fugit voluptas hic placeat tempore alias."
      </li>
      <li>
        "Quod labore, reprehenderit nihil quo ullam fugit voluptas hic placeat tempore alias."
      </li>
      <li>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas non debitis dignissimos reiciendis, consectetur praesentium a pariatur vitae laborum officia nostrum rerum beatae earum, voluptas minus accusantium aspernatur, voluptate animi!"
      </li>
      <li>
        "Modi tenetur minima corrupti nobis quas, quia qui aliquam perspiciatis?"
      </li>
    </ul>
  </Section>
  
</body>