@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
}
header {
  opacity: .7;
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  text-align: center;
}
nav {
  opacity: .7;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.homeBtn, .logoutBtn {
  font-family: 'Lobster Two', cursive;
  background-color: transparent;
  color: #c4c3ca;
  border: none;
}
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
}
.card {
  margin: 30px auto;
  width: 300px;
  height: 500px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  /* height: inherit; */
  border-radius: 40px;
  object-fit: cover;
}

img{
  height: 440px;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, change to  column */
    flex-direction: column;
  }
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.signup-form, .login-form {
  margin-left: auto;
  margin-right: auto;
  color: white;
	background: #222;
	padding: 40px;
	border-radius: 5px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}

.signup-form:hover, .login-form:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
  -5px -5px 30px 15px rgba(0,0,0,0.22);
  transition: 0.4s;
}

.submitBtn {
  background-color: transparent;
  border: 1px solid #c4c3ca;
  color: #c4c3ca;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 45px;
  cursor: pointer;
  transition: all .10s;
}
input {
  border-radius: 10px;
  border: transparent;
  height: 20px;
  margin: 2%;
}
input[type="password"] {
  margin-bottom: 15px;

}

.gradient1 {
    background: linear-gradient(324deg, #09a6d2,  rgba(167, 0, 167, 0.731),  #09a6d2, #16c479);
    background-size: 600% 600%;
    -webkit-animation: gradientAnimation 10s ease infinite;
    -moz-animation: gradientAnimation 10s ease infinite;
    -o-animation: gradientAnimation 10s ease infinite;
    animation: gradientAnimation 10s ease infinite;
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-o-keyframes gradientAnimation {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@keyframes gradientAnimation {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
.gradient2 {
  background: linear-gradient(324deg, #09a6d2,  rgba(167, 0, 167, 0.731),  #09a6d2, #16c479);
  background-size: 600% 600%;
  -webkit-animation: gradientAnimation 15s ease infinite;
  -moz-animation: gradientAnimation 15s ease infinite;
  -o-animation: gradientAnimation 15s ease infinite;
  animation: gradientAnimation 15s ease infinite;
}