@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
}
nav {
  opacity: .7;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.homeBtn, .logoutBtn {
  font-family: 'Lobster Two', cursive;
  background-color: #1f2029;
  color: #c4c3ca;
  border: none;
}
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
}
.card {
  margin: 30px auto;
  width: 300px;
  height: 500px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  /* height: inherit; */
  border-radius: 40px;
  object-fit: cover;
}

img{
  height: 440px;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, change to  column */
    flex-direction: column;
  }
}

