@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Source+Sans+Pro:wght@300&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: white;
  padding-top: 5%;
}
header {
  color: white;
  font-family: 'Lobster Two', cursive;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  text-align: center;
  font-size: 14vw;
}
.header {
  color: white;
  font-family: 'Lobster Two', cursive;
  text-align: center;
  font-size: 6vw;
  padding-top: 2%;
}
nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  background-color: #1f2029;
  font-family: 'Lobster Two', cursive;
  align-items: center;
  font-size: 20px;
  padding-right: 40px;
  padding-left: 20px;
  top: 0;
  left: 0;
  right: 0;
  /* margin-bottom: 20px; */
}
#paw {
  width: 20px;
  height: 20px;
  align-self: center;
  margin: 5px;
}
.homeBtn:hover, .logoutBtn:hover {
  color: white;
  font-size: 16px;
  transform: scale(0.9, 0.9);
}
.homeBtn, .logoutBtn {
  font-family: 'Lobster Two', cursive;
  background-color: transparent;
  color: #e9e9e9;
  border: none;
  transition: .4s;
}
.cards-list {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
h2, h5 {
  text-align: center;
}
.card {
  margin: 0px 10px 40px 5px;
  width: 300px;
  height: 500px;
  border-radius: 40px;
  background-color: #1f2029;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  border-radius: 40px;
  object-fit: cover;
}

img{
  height: 440px;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
  -5px -5px 30px 15px rgba(0,0,0,0.22);
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
  .or {
    width: 100%;
    height: 50%;
    margin: 20px auto;
  }
}


.main {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  margin-left: 20%;
  margin-right: 20%;
  flex-wrap: wrap;
}

.or {
  align-self: center;
  text-align: center;
  padding: 2%;
}
.signup-form, .login-form {
  margin-left: auto;
  margin-right: auto;
  color: white;
	background: #222;
	padding: 40px;
	border-radius: 5px;
  border: rgb(0, 255, 102) 10px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
  height: 300px;
  width: 250px;
}

.signup-form:hover, .login-form:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
  -5px -5px 30px 15px rgba(0,0,0,0.22);
  transition: 0.4s;
}

.submitBtn {
  background-color: transparent;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  color: #e9e9e9;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 45px;
  cursor: pointer;
  transition: all 1s;
  width: 100%;
  height: 40px;
}
.submitBtn:hover {
  background-color: #d3e90cd1;
  color: #15161b;
  
}

textarea {
  width: 450px;
  height: 100px;
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 5%;
  font-family: 'Poppins', sans-serif;
}
input {
  width: 100%;
  height: 30px;
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 5%;
  font-family: 'Poppins', sans-serif;
  border: transparent;
  margin: 2%;
}
input[type="password"] {
  margin-bottom: 15px;
  
}

.loginGradient, .profileGradient {
  height: 100vh;
  background: linear-gradient(324deg,
    rgba(19, 19, 60, 0.627), 
    rgba(73, 15, 73, 0.627),
    rgba(195, 55, 8, 0.627),
    rgba(196, 117, 20, 0.627), 
    rgba(58, 200, 143, 0.627),
    rgba(0, 183, 255, 0.627),
    rgba(28, 28, 192, 0.627),
    rgba(5, 7, 21, 0.627)
    );
  background-size: 600% 600%;
  -webkit-animation: gradientAnimation 9s ease infinite;
  -moz-animation: gradientAnimation 9s ease infinite;
  -o-animation: gradientAnimation 9s ease infinite;
  animation: gradientAnimation 9s ease infinite;
}

.homeGradient {
  /* height: 200vw; */
  background-repeat: no-repeat;
  background-blend-mode: screen, hue, color, overlay, normal;
  background: 
    radial-gradient(at center center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) no-repeat, 
    radial-gradient(at 70% 60%, rgb(195, 224, 96) 0%, rgba(195, 224, 96, 0) 30%),
    radial-gradient(at left bottom, rgb(0, 163, 203) 0%, rgba(0, 163, 203, 0) 70%), 
    linear-gradient(135deg, rgba(18, 46, 119, 0) 0%, rgba(18, 46, 119, 0) 75%, rgb(18, 46, 119) 100%),linear-gradient(to right, rgb(98, 87, 147) 0%, rgb(213, 93, 100) 17%, rgb(228, 145, 41) 74%, rgb(192, 103, 28) 100%);
}

@-webkit-keyframes gradientAnimation {
  0%{background-position:75% 0%}
  50%{background-position:86% 100%}
  100%{background-position:75% 0%}
}
@-moz-keyframes gradientAnimation {
  0%{background-position:75% 0%}
  50%{background-position:86% 100%}
  100%{background-position:75% 0%}
}
@-o-keyframes gradientAnimation {
  0%{background-position:75% 0%}
  50%{background-position:86% 100%}
  100%{background-position:75% 0%}
}
@keyframes gradientAnimation {
  0%{background-position:75% 0%}
  50%{background-position:86% 100%}
  100%{background-position:75% 0%}
}



.parent {
  position: relative;
}
.logoDog {
  position:absolute;
  top: 17.7%;
  left: 61.4%;
  height: 8.4vw;
  width: 11vw;
  border-radius: 100%;
}
.bouncyDog {
  height: 8.4vw;
  width: 11vw;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}
.typeyDog {
  height: 10vw;
  width: 11vw;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}
.profile {
  padding: 20px;
}
ul {
  list-style-type: none;
  display: flex;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  font-size: 1.8vw;
  color: rgba(255, 251, 0, 0.771);
}
.commentSection {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto 30px;
}
.comments {
  width: 70%;
  color: white;
  font-size: 1.6vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  font-family: 'Source Sans Pro', sans-serif;
}
.review{
  margin-top: 10%;
  width: 100%;
  color: white;
  font-size: 15pt;
}

.eachreview{
  background-color: #1b1c2435;
  box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.188), 
  -5px -5px 30px rgba(0, 0, 0, 0.165);
  /* box-shadow: 0px 0px 40px 40px #00000072; */
  margin: 10px;
  text-align: center;

  
}
.groomerContact {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
.groomerProfileRightSection {
  display: grid;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 30px;
justify-items: center;
}
span {
  font-weight: lighter;
  color: white;
}
li {
  padding: 2%;
}

.groomer{
  align-items: center;
}
#carouselText {
  font-family: 'Lobster Two', cursive;
  font-size: 25pt;
}

#all-reviews-header {
  text-align: center;
  font-size: 35pt; 
  font-family: 'Lobster Two', cursive;
  margin-bottom: 0;
}
a {
  color: white;
  text-decoration: none;
}
#carousel {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  background-color: #15161b;
  height: 700px;
  align-items: center;
  flex-direction: column;
}
.owl-carousel img {
  width: 100%;
  height: 300px;
}